body{
    background-image: url(/photos/full-background.png);
    /* background-size: c; */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

/* HOME */
#home-body{
    background-image: url(/photos/Brown\ Grey\ Creative\ Modern\ Online\ Portfolio.png);
}
#home-image{
    height: 55vh;
    margin-top: 11%;
}

#hello{
    font-family: 'Poppins', sans-serif;
    line-height: 700%;
    margin-top: 17vh;
    margin-left: 10vw; 
}
#hello h1{
    font-size: 10vh;
    margin-bottom: -50px;
}
#hello h3{
    font-size: 3vh;
    margin-bottom: -10px;
}
#home{
    display: flex;
    justify-content: space-between;
}
.name{
    color: #D13B53;
}
button {
    background-color: #EF7C8E;
    padding: 3% 5%;
    border: #D13B53;
    border-radius: 12px;
    box-shadow: 5px 10px #D13B53 ;
}

.button{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* END OF HOME */


/* BIOGRAPHY */
#bio-body{
    background-image: url(/photos/Brown\ Grey\ Creative\ Modern\ Online\ Portfolio\ \(2\).png);
    background-size: cover;
}

#about{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

#about-photo{
    /* height: 55vh; */
    margin-top: 8%;
}

#about h1{
    color: white;
    /* font-family: 'Sacramento', cursive; */
    font-size: 50px;
    margin-bottom: -35px;
}

#about-p{
    width: 70%;
    font-size: 30px;
    color: white;

}
#bio{
    display: block;
    margin-top: 7%;
    margin-left: 5%;
    
}
.about-button{
    margin-left: 40px;
}
/* END OF BIOGRAPHY */

header{
    display: inline-flex;
    background-color: rgba(213, 113, 128, 0.857);
    width: 100%;
    height: 40px;
    justify-content: space-between;
}
.nav{
    margin-right: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.logo{
    height: 150%;
    /* margin-top: -20px; */
}

#education{
    display: inline-flex;
    justify-content: space-evenly;
flex-direction: row;    /* justify-content: space-around; */
}

#work{
    display: inline-block;
}

.work-card{
    display: inline-flex;
    background-color: rgb(245, 207, 226);
    width: 45%;
   /* margin-left: 20px; */
    margin-top: 15px;
    padding: 30px; 
}

.page-title{
    text-align: center;
}

